@font-face {
	font-family: 'draw';
	src:url('../4k-icons-pack02/icons/fonts/draw.eot');
	src:url('../4k-icons-pack02/icons/fonts/draw.eot?#iefix') format('embedded-opentype'),
		url('../4k-icons-pack02/icons/fonts/draw.woff') format('woff'),
		url('../4k-icons-pack02/icons/fonts/draw.ttf') format('truetype'),
		url('../4k-icons-pack02/icons/fonts/draw.svg#oi') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'draw';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="oi-"] {
*/
.draw-abacus2, .draw-zip9, .draw-add78, .draw-add79, .draw-add80, .draw-add81, .draw-add82, .draw-address18, .draw-agenda, .draw-alert4, .draw-alert5, .draw-alien2, .draw-american11, .draw-analytics4, .draw-anchor23, .draw-android5, .draw-apple41, .draw-apple43, .draw-arch2, .draw-archive16, .draw-arroba6, .draw-arrow550, .draw-arrow551, .draw-arrow552, .draw-arrow553, .draw-arrows71, .draw-atom9, .draw-attention, .draw-back15, .draw-back16, .draw-back17, .draw-back18, .draw-baggage17, .draw-balance4, .draw-balloon4, .draw-bars22, .draw-bars23, .draw-battery90, .draw-beer13, .draw-behance3, .draw-bell20, .draw-bike11, .draw-bird31, .draw-bomb5, .draw-book126, .draw-bookmark12, .draw-bookmarks1, .draw-box42, .draw-box43, .draw-boy15, .draw-bright2, .draw-bright3, .draw-bug10, .draw-business66, .draw-business67, .draw-business68, .draw-calculator36, .draw-calendar71, .draw-cancel11, .draw-cancel12, .draw-cancel13, .draw-cancer, .draw-chat34, .draw-chat35, .draw-checkmark4, .draw-chemical1, .draw-chicken7, .draw-clip9, .draw-clipboard47, .draw-clipboard48, .draw-clipboard49, .draw-closed44, .draw-cloud161, .draw-cloud162, .draw-codebar, .draw-coffee29, .draw-coffee30, .draw-cogwheel13, .draw-coins18, .draw-compass51, .draw-completed, .draw-cone5, .draw-configuration7, .draw-configuration8, .draw-connection13, .draw-connection14, .draw-contacts5, .draw-crane3, .draw-crown29, .draw-css7, .draw-cupcake5, .draw-cutlery, .draw-cycle6, .draw-dashboard3, .draw-database34, .draw-delete34, .draw-delete35, .draw-delete36, .draw-delete37, .draw-delete38, .draw-delete39, .draw-delicious6, .draw-descending2, .draw-diamond26, .draw-directional9, .draw-directions, .draw-dna8, .draw-document87, .draw-document88, .draw-dont2, .draw-down17, .draw-down18, .draw-down19, .draw-down20, .draw-down25, .draw-download69, .draw-drawers, .draw-dribbble7, .draw-dropper8, .draw-edit27, .draw-edit28, .draw-eject16, .draw-empty22, .draw-eps6, .draw-euro32, .draw-exit10, .draw-exit9, .draw-expand17, .draw-expand18, .draw-export5, .draw-eye74, .draw-facebook32, .draw-factory9, .draw-favorite9, .draw-feather11, .draw-female130, .draw-fire23, .draw-flag33, .draw-fonts, .draw-forward12, .draw-forward13, .draw-foursquare7, .draw-free1, .draw-full25, .draw-funnel9, .draw-gallery, .draw-game21, .draw-gif6, .draw-gift52, .draw-glass18, .draw-go9, .draw-graduate7, .draw-gym8, .draw-hdd2, .draw-headphones18, .draw-heart212, .draw-heart213, .draw-horseshoe6, .draw-hot49, .draw-house80, .draw-html12, .draw-ice45, .draw-id5, .draw-idea11, .draw-illustrator, .draw-inbox20, .draw-inbox21, .draw-incomplete, .draw-increase3, .draw-infinite1, .draw-information41, .draw-information42, .draw-instagram6, .draw-java2, .draw-join, .draw-jpg4, .draw-jump5, .draw-key65, .draw-keyboard40, .draw-kilometers, .draw-lantern15, .draw-leaf37, .draw-left42, .draw-left43, .draw-left44, .draw-left45, .draw-less1, .draw-life4, .draw-lifeline6, .draw-lightbulb16, .draw-like29, .draw-link24, .draw-link25, .draw-linkedin13, .draw-list37, .draw-list38, .draw-list39, .draw-add77, .draw-lock29, .draw-love22, .draw-love23, .draw-low23, .draw-magic10, .draw-magnet4, .draw-magnifying41, .draw-mail62, .draw-male164, .draw-map62, .draw-map63, .draw-megaphone4, .draw-menu22, .draw-menu23, .draw-microphone53, .draw-microscope5, .draw-minus26, .draw-minus27, .draw-money42, .draw-money43, .draw-money44, .draw-money45, .draw-monitoring3, .draw-moon22, .draw-moon23, .draw-mosaic, .draw-mosaic1, .draw-mouse29, .draw-mug4, .draw-musical65, .draw-musical66, .draw-mustache6, .draw-new28, .draw-next11, .draw-next12, .draw-next13, .draw-no50, .draw-octocat, .draw-old38, .draw-open138, .draw-outbox2, .draw-pages5, .draw-paint52, .draw-painting32, .draw-palm10, .draw-paper89, .draw-paper90, .draw-paper91, .draw-paper92, .draw-paper93, .draw-paper94, .draw-pause19, .draw-pdf20, .draw-pen35, .draw-pencil46, .draw-phone82, .draw-php1, .draw-pi, .draw-picture14, .draw-picture15, .draw-pie33, .draw-pin29, .draw-pine4, .draw-pinterest15, .draw-pipe2, .draw-plug16, .draw-plus34, .draw-plus35, .draw-png5, .draw-podium, .draw-port1, .draw-pound14, .draw-power53, .draw-previous8, .draw-price4, .draw-private5, .draw-prohibition8, .draw-psd4, .draw-question27, .draw-question28, .draw-question29, .draw-quote3, .draw-radiation3, .draw-radio38, .draw-rain19, .draw-record4, .draw-refresh41, .draw-reload5, .draw-repeat1, .draw-rest1, .draw-revert1, .draw-right41, .draw-right42, .draw-robot7, .draw-rocket21, .draw-rss35, .draw-sad11, .draw-sale6, .draw-sale7, .draw-sand7, .draw-save9, .draw-scissors18, .draw-screen21, .draw-screwdriver17, .draw-settings23, .draw-settings24, .draw-share17, .draw-shopping131, .draw-shopping132, .draw-shuffle11, .draw-signal38, .draw-skype13, .draw-smile4, .draw-snowflakes12, .draw-soccer21, .draw-soda4, .draw-sound22, .draw-sound23, .draw-sound24, .draw-sound25, .draw-speedometer9, .draw-squad1, .draw-square82, .draw-star104, .draw-star105, .draw-star106, .draw-star107, .draw-stereo3, .draw-suitcase31, .draw-sun41, .draw-sun42, .draw-synchronize3, .draw-syringe15, .draw-tablet56, .draw-tag35, .draw-target23, .draw-telephone85, .draw-tennis14, .draw-terminal9, .draw-text74, .draw-thermometer29, .draw-thunder1, .draw-thunder2, .draw-thunderstorm, .draw-ticket9, .draw-time10, .draw-tools7, .draw-trash33, .draw-tray11, .draw-tree45, .draw-triangle24, .draw-trophy8, .draw-truck23, .draw-trumpet11, .draw-tv15, .draw-twitter22, .draw-umbrella21, .draw-undo15, .draw-union, .draw-unlock6, .draw-up31, .draw-up32, .draw-up33, .draw-up34, .draw-up35, .draw-up36, .draw-up37, .draw-upload43, .draw-upload44, .draw-usb23, .draw-user94, .draw-user95, .draw-user96, .draw-user97, .draw-users11, .draw-vector20, .draw-video114, .draw-video115, .draw-video116, .draw-vimeo13, .draw-water34, .draw-water35, .draw-webcam2, .draw-wifi51, .draw-wifi52, .draw-window34, .draw-window35, .draw-windows27, .draw-wine35, .draw-woman56, .draw-world32, .draw-wrench45, .draw-xls3, .draw-yen21, .draw-yin5, .draw-location31 {
	font-family: 'draw';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.draw-abacus2:before { content: '\e800'; }
.draw-zip9:before { content: '\e989'; }
.draw-add78:before { content: '\e802'; }
.draw-add79:before { content: '\e803'; }
.draw-add80:before { content: '\e804'; }
.draw-add81:before { content: '\e805'; }
.draw-add82:before { content: '\e806'; }
.draw-address18:before { content: '\e807'; }
.draw-agenda:before { content: '\e808'; }
.draw-alert4:before { content: '\e809'; }
.draw-alert5:before { content: '\e80a'; }
.draw-alien2:before { content: '\e80b'; }
.draw-american11:before { content: '\e80c'; }
.draw-analytics4:before { content: '\e80d'; }
.draw-anchor23:before { content: '\e80e'; }
.draw-android5:before { content: '\e80f'; }
.draw-apple41:before { content: '\e810'; }
.draw-apple43:before { content: '\e811'; }
.draw-arch2:before { content: '\e812'; }
.draw-archive16:before { content: '\e813'; }
.draw-arroba6:before { content: '\e814'; }
.draw-arrow550:before { content: '\e815'; }
.draw-arrow551:before { content: '\e816'; }
.draw-arrow552:before { content: '\e817'; }
.draw-arrow553:before { content: '\e818'; }
.draw-arrows71:before { content: '\e819'; }
.draw-atom9:before { content: '\e81a'; }
.draw-attention:before { content: '\e81b'; }
.draw-back15:before { content: '\e81c'; }
.draw-back16:before { content: '\e81d'; }
.draw-back17:before { content: '\e81e'; }
.draw-back18:before { content: '\e81f'; }
.draw-baggage17:before { content: '\e820'; }
.draw-balance4:before { content: '\e821'; }
.draw-balloon4:before { content: '\e822'; }
.draw-bars22:before { content: '\e823'; }
.draw-bars23:before { content: '\e824'; }
.draw-battery90:before { content: '\e825'; }
.draw-beer13:before { content: '\e826'; }
.draw-behance3:before { content: '\e827'; }
.draw-bell20:before { content: '\e828'; }
.draw-bike11:before { content: '\e829'; }
.draw-bird31:before { content: '\e82a'; }
.draw-bomb5:before { content: '\e82b'; }
.draw-book126:before { content: '\e82c'; }
.draw-bookmark12:before { content: '\e82d'; }
.draw-bookmarks1:before { content: '\e82e'; }
.draw-box42:before { content: '\e82f'; }
.draw-box43:before { content: '\e830'; }
.draw-boy15:before { content: '\e831'; }
.draw-bright2:before { content: '\e832'; }
.draw-bright3:before { content: '\e833'; }
.draw-bug10:before { content: '\e834'; }
.draw-business66:before { content: '\e835'; }
.draw-business67:before { content: '\e836'; }
.draw-business68:before { content: '\e837'; }
.draw-calculator36:before { content: '\e838'; }
.draw-calendar71:before { content: '\e839'; }
.draw-cancel11:before { content: '\e83a'; }
.draw-cancel12:before { content: '\e83b'; }
.draw-cancel13:before { content: '\e83c'; }
.draw-cancer:before { content: '\e83d'; }
.draw-chat34:before { content: '\e83e'; }
.draw-chat35:before { content: '\e83f'; }
.draw-checkmark4:before { content: '\e840'; }
.draw-chemical1:before { content: '\e841'; }
.draw-chicken7:before { content: '\e842'; }
.draw-clip9:before { content: '\e843'; }
.draw-clipboard47:before { content: '\e844'; }
.draw-clipboard48:before { content: '\e845'; }
.draw-clipboard49:before { content: '\e846'; }
.draw-closed44:before { content: '\e847'; }
.draw-cloud161:before { content: '\e848'; }
.draw-cloud162:before { content: '\e849'; }
.draw-codebar:before { content: '\e84a'; }
.draw-coffee29:before { content: '\e84b'; }
.draw-coffee30:before { content: '\e84c'; }
.draw-cogwheel13:before { content: '\e84d'; }
.draw-coins18:before { content: '\e84e'; }
.draw-compass51:before { content: '\e84f'; }
.draw-completed:before { content: '\e850'; }
.draw-cone5:before { content: '\e851'; }
.draw-configuration7:before { content: '\e852'; }
.draw-configuration8:before { content: '\e853'; }
.draw-connection13:before { content: '\e854'; }
.draw-connection14:before { content: '\e855'; }
.draw-contacts5:before { content: '\e856'; }
.draw-crane3:before { content: '\e857'; }
.draw-crown29:before { content: '\e858'; }
.draw-css7:before { content: '\e859'; }
.draw-cupcake5:before { content: '\e85a'; }
.draw-cutlery:before { content: '\e85b'; }
.draw-cycle6:before { content: '\e85c'; }
.draw-dashboard3:before { content: '\e85d'; }
.draw-database34:before { content: '\e85e'; }
.draw-delete34:before { content: '\e85f'; }
.draw-delete35:before { content: '\e860'; }
.draw-delete36:before { content: '\e861'; }
.draw-delete37:before { content: '\e862'; }
.draw-delete38:before { content: '\e863'; }
.draw-delete39:before { content: '\e864'; }
.draw-delicious6:before { content: '\e865'; }
.draw-descending2:before { content: '\e866'; }
.draw-diamond26:before { content: '\e867'; }
.draw-directional9:before { content: '\e868'; }
.draw-directions:before { content: '\e869'; }
.draw-dna8:before { content: '\e86a'; }
.draw-document87:before { content: '\e86b'; }
.draw-document88:before { content: '\e86c'; }
.draw-dont2:before { content: '\e86d'; }
.draw-down17:before { content: '\e86e'; }
.draw-down18:before { content: '\e86f'; }
.draw-down19:before { content: '\e870'; }
.draw-down20:before { content: '\e871'; }
.draw-down25:before { content: '\e872'; }
.draw-download69:before { content: '\e873'; }
.draw-drawers:before { content: '\e874'; }
.draw-dribbble7:before { content: '\e875'; }
.draw-dropper8:before { content: '\e876'; }
.draw-edit27:before { content: '\e877'; }
.draw-edit28:before { content: '\e878'; }
.draw-eject16:before { content: '\e879'; }
.draw-empty22:before { content: '\e87a'; }
.draw-eps6:before { content: '\e87b'; }
.draw-euro32:before { content: '\e87c'; }
.draw-exit10:before { content: '\e87d'; }
.draw-exit9:before { content: '\e87e'; }
.draw-expand17:before { content: '\e87f'; }
.draw-expand18:before { content: '\e880'; }
.draw-export5:before { content: '\e881'; }
.draw-eye74:before { content: '\e882'; }
.draw-facebook32:before { content: '\e883'; }
.draw-factory9:before { content: '\e884'; }
.draw-favorite9:before { content: '\e885'; }
.draw-feather11:before { content: '\e886'; }
.draw-female130:before { content: '\e887'; }
.draw-fire23:before { content: '\e888'; }
.draw-flag33:before { content: '\e889'; }
.draw-fonts:before { content: '\e88a'; }
.draw-forward12:before { content: '\e88b'; }
.draw-forward13:before { content: '\e88c'; }
.draw-foursquare7:before { content: '\e88d'; }
.draw-free1:before { content: '\e88e'; }
.draw-full25:before { content: '\e88f'; }
.draw-funnel9:before { content: '\e890'; }
.draw-gallery:before { content: '\e891'; }
.draw-game21:before { content: '\e892'; }
.draw-gif6:before { content: '\e893'; }
.draw-gift52:before { content: '\e894'; }
.draw-glass18:before { content: '\e895'; }
.draw-go9:before { content: '\e896'; }
.draw-graduate7:before { content: '\e897'; }
.draw-gym8:before { content: '\e898'; }
.draw-hdd2:before { content: '\e899'; }
.draw-headphones18:before { content: '\e89a'; }
.draw-heart212:before { content: '\e89b'; }
.draw-heart213:before { content: '\e89c'; }
.draw-horseshoe6:before { content: '\e89d'; }
.draw-hot49:before { content: '\e89e'; }
.draw-house80:before { content: '\e89f'; }
.draw-html12:before { content: '\e8a0'; }
.draw-ice45:before { content: '\e8a1'; }
.draw-id5:before { content: '\e8a2'; }
.draw-idea11:before { content: '\e8a3'; }
.draw-illustrator:before { content: '\e8a4'; }
.draw-inbox20:before { content: '\e8a5'; }
.draw-inbox21:before { content: '\e8a6'; }
.draw-incomplete:before { content: '\e8a7'; }
.draw-increase3:before { content: '\e8a8'; }
.draw-infinite1:before { content: '\e8a9'; }
.draw-information41:before { content: '\e8aa'; }
.draw-information42:before { content: '\e8ab'; }
.draw-instagram6:before { content: '\e8ac'; }
.draw-java2:before { content: '\e8ad'; }
.draw-join:before { content: '\e8ae'; }
.draw-jpg4:before { content: '\e8af'; }
.draw-jump5:before { content: '\e8b0'; }
.draw-key65:before { content: '\e8b1'; }
.draw-keyboard40:before { content: '\e8b2'; }
.draw-kilometers:before { content: '\e8b3'; }
.draw-lantern15:before { content: '\e8b4'; }
.draw-leaf37:before { content: '\e8b5'; }
.draw-left42:before { content: '\e8b6'; }
.draw-left43:before { content: '\e8b7'; }
.draw-left44:before { content: '\e8b8'; }
.draw-left45:before { content: '\e8b9'; }
.draw-less1:before { content: '\e8ba'; }
.draw-life4:before { content: '\e8bb'; }
.draw-lifeline6:before { content: '\e8bc'; }
.draw-lightbulb16:before { content: '\e8bd'; }
.draw-like29:before { content: '\e8be'; }
.draw-link24:before { content: '\e8bf'; }
.draw-link25:before { content: '\e8c0'; }
.draw-linkedin13:before { content: '\e8c1'; }
.draw-list37:before { content: '\e8c2'; }
.draw-list38:before { content: '\e8c3'; }
.draw-list39:before { content: '\e8c4'; }
.draw-add77:before { content: '\e801'; }
.draw-lock29:before { content: '\e8c6'; }
.draw-love22:before { content: '\e8c7'; }
.draw-love23:before { content: '\e8c8'; }
.draw-low23:before { content: '\e8c9'; }
.draw-magic10:before { content: '\e8ca'; }
.draw-magnet4:before { content: '\e8cb'; }
.draw-magnifying41:before { content: '\e8cc'; }
.draw-mail62:before { content: '\e8cd'; }
.draw-male164:before { content: '\e8ce'; }
.draw-map62:before { content: '\e8cf'; }
.draw-map63:before { content: '\e8d0'; }
.draw-megaphone4:before { content: '\e8d1'; }
.draw-menu22:before { content: '\e8d2'; }
.draw-menu23:before { content: '\e8d3'; }
.draw-microphone53:before { content: '\e8d4'; }
.draw-microscope5:before { content: '\e8d5'; }
.draw-minus26:before { content: '\e8d6'; }
.draw-minus27:before { content: '\e8d7'; }
.draw-money42:before { content: '\e8d8'; }
.draw-money43:before { content: '\e8d9'; }
.draw-money44:before { content: '\e8da'; }
.draw-money45:before { content: '\e8db'; }
.draw-monitoring3:before { content: '\e8dc'; }
.draw-moon22:before { content: '\e8dd'; }
.draw-moon23:before { content: '\e8de'; }
.draw-mosaic:before { content: '\e8df'; }
.draw-mosaic1:before { content: '\e8e0'; }
.draw-mouse29:before { content: '\e8e1'; }
.draw-mug4:before { content: '\e8e2'; }
.draw-musical65:before { content: '\e8e3'; }
.draw-musical66:before { content: '\e8e4'; }
.draw-mustache6:before { content: '\e8e5'; }
.draw-new28:before { content: '\e8e6'; }
.draw-next11:before { content: '\e8e7'; }
.draw-next12:before { content: '\e8e8'; }
.draw-next13:before { content: '\e8e9'; }
.draw-no50:before { content: '\e8ea'; }
.draw-octocat:before { content: '\e8eb'; }
.draw-old38:before { content: '\e8ec'; }
.draw-open138:before { content: '\e8ed'; }
.draw-outbox2:before { content: '\e8ee'; }
.draw-pages5:before { content: '\e8ef'; }
.draw-paint52:before { content: '\e8f0'; }
.draw-painting32:before { content: '\e8f1'; }
.draw-palm10:before { content: '\e8f2'; }
.draw-paper89:before { content: '\e8f3'; }
.draw-paper90:before { content: '\e8f4'; }
.draw-paper91:before { content: '\e8f5'; }
.draw-paper92:before { content: '\e8f6'; }
.draw-paper93:before { content: '\e8f7'; }
.draw-paper94:before { content: '\e8f8'; }
.draw-pause19:before { content: '\e8f9'; }
.draw-pdf20:before { content: '\e8fa'; }
.draw-pen35:before { content: '\e8fb'; }
.draw-pencil46:before { content: '\e8fc'; }
.draw-phone82:before { content: '\e8fd'; }
.draw-php1:before { content: '\e8fe'; }
.draw-pi:before { content: '\e8ff'; }
.draw-picture14:before { content: '\e900'; }
.draw-picture15:before { content: '\e901'; }
.draw-pie33:before { content: '\e902'; }
.draw-pin29:before { content: '\e903'; }
.draw-pine4:before { content: '\e904'; }
.draw-pinterest15:before { content: '\e905'; }
.draw-pipe2:before { content: '\e906'; }
.draw-plug16:before { content: '\e907'; }
.draw-plus34:before { content: '\e908'; }
.draw-plus35:before { content: '\e909'; }
.draw-png5:before { content: '\e90a'; }
.draw-podium:before { content: '\e90b'; }
.draw-port1:before { content: '\e90c'; }
.draw-pound14:before { content: '\e90d'; }
.draw-power53:before { content: '\e90e'; }
.draw-previous8:before { content: '\e90f'; }
.draw-price4:before { content: '\e910'; }
.draw-private5:before { content: '\e911'; }
.draw-prohibition8:before { content: '\e912'; }
.draw-psd4:before { content: '\e913'; }
.draw-question27:before { content: '\e914'; }
.draw-question28:before { content: '\e915'; }
.draw-question29:before { content: '\e916'; }
.draw-quote3:before { content: '\e917'; }
.draw-radiation3:before { content: '\e918'; }
.draw-radio38:before { content: '\e919'; }
.draw-rain19:before { content: '\e91a'; }
.draw-record4:before { content: '\e91b'; }
.draw-refresh41:before { content: '\e91c'; }
.draw-reload5:before { content: '\e91d'; }
.draw-repeat1:before { content: '\e91e'; }
.draw-rest1:before { content: '\e91f'; }
.draw-revert1:before { content: '\e920'; }
.draw-right41:before { content: '\e921'; }
.draw-right42:before { content: '\e922'; }
.draw-robot7:before { content: '\e923'; }
.draw-rocket21:before { content: '\e924'; }
.draw-rss35:before { content: '\e925'; }
.draw-sad11:before { content: '\e926'; }
.draw-sale6:before { content: '\e927'; }
.draw-sale7:before { content: '\e928'; }
.draw-sand7:before { content: '\e929'; }
.draw-save9:before { content: '\e92a'; }
.draw-scissors18:before { content: '\e92b'; }
.draw-screen21:before { content: '\e92c'; }
.draw-screwdriver17:before { content: '\e92d'; }
.draw-settings23:before { content: '\e92e'; }
.draw-settings24:before { content: '\e92f'; }
.draw-share17:before { content: '\e930'; }
.draw-shopping131:before { content: '\e931'; }
.draw-shopping132:before { content: '\e932'; }
.draw-shuffle11:before { content: '\e933'; }
.draw-signal38:before { content: '\e934'; }
.draw-skype13:before { content: '\e935'; }
.draw-smile4:before { content: '\e936'; }
.draw-snowflakes12:before { content: '\e937'; }
.draw-soccer21:before { content: '\e938'; }
.draw-soda4:before { content: '\e939'; }
.draw-sound22:before { content: '\e93a'; }
.draw-sound23:before { content: '\e93b'; }
.draw-sound24:before { content: '\e93c'; }
.draw-sound25:before { content: '\e93d'; }
.draw-speedometer9:before { content: '\e93e'; }
.draw-squad1:before { content: '\e93f'; }
.draw-square82:before { content: '\e940'; }
.draw-star104:before { content: '\e941'; }
.draw-star105:before { content: '\e942'; }
.draw-star106:before { content: '\e943'; }
.draw-star107:before { content: '\e944'; }
.draw-stereo3:before { content: '\e945'; }
.draw-suitcase31:before { content: '\e946'; }
.draw-sun41:before { content: '\e947'; }
.draw-sun42:before { content: '\e948'; }
.draw-synchronize3:before { content: '\e949'; }
.draw-syringe15:before { content: '\e94a'; }
.draw-tablet56:before { content: '\e94b'; }
.draw-tag35:before { content: '\e94c'; }
.draw-target23:before { content: '\e94d'; }
.draw-telephone85:before { content: '\e94e'; }
.draw-tennis14:before { content: '\e94f'; }
.draw-terminal9:before { content: '\e950'; }
.draw-text74:before { content: '\e951'; }
.draw-thermometer29:before { content: '\e952'; }
.draw-thunder1:before { content: '\e953'; }
.draw-thunder2:before { content: '\e954'; }
.draw-thunderstorm:before { content: '\e955'; }
.draw-ticket9:before { content: '\e956'; }
.draw-time10:before { content: '\e957'; }
.draw-tools7:before { content: '\e958'; }
.draw-trash33:before { content: '\e959'; }
.draw-tray11:before { content: '\e95a'; }
.draw-tree45:before { content: '\e95b'; }
.draw-triangle24:before { content: '\e95c'; }
.draw-trophy8:before { content: '\e95d'; }
.draw-truck23:before { content: '\e95e'; }
.draw-trumpet11:before { content: '\e95f'; }
.draw-tv15:before { content: '\e960'; }
.draw-twitter22:before { content: '\e961'; }
.draw-umbrella21:before { content: '\e962'; }
.draw-undo15:before { content: '\e963'; }
.draw-union:before { content: '\e964'; }
.draw-unlock6:before { content: '\e965'; }
.draw-up31:before { content: '\e966'; }
.draw-up32:before { content: '\e967'; }
.draw-up33:before { content: '\e968'; }
.draw-up34:before { content: '\e969'; }
.draw-up35:before { content: '\e96a'; }
.draw-up36:before { content: '\e96b'; }
.draw-up37:before { content: '\e96c'; }
.draw-upload43:before { content: '\e96d'; }
.draw-upload44:before { content: '\e96e'; }
.draw-usb23:before { content: '\e96f'; }
.draw-user94:before { content: '\e970'; }
.draw-user95:before { content: '\e971'; }
.draw-user96:before { content: '\e972'; }
.draw-user97:before { content: '\e973'; }
.draw-users11:before { content: '\e974'; }
.draw-vector20:before { content: '\e975'; }
.draw-video114:before { content: '\e976'; }
.draw-video115:before { content: '\e977'; }
.draw-video116:before { content: '\e978'; }
.draw-vimeo13:before { content: '\e979'; }
.draw-water34:before { content: '\e97a'; }
.draw-water35:before { content: '\e97b'; }
.draw-webcam2:before { content: '\e97c'; }
.draw-wifi51:before { content: '\e97d'; }
.draw-wifi52:before { content: '\e97e'; }
.draw-window34:before { content: '\e97f'; }
.draw-window35:before { content: '\e980'; }
.draw-windows27:before { content: '\e981'; }
.draw-wine35:before { content: '\e982'; }
.draw-woman56:before { content: '\e983'; }
.draw-world32:before { content: '\e984'; }
.draw-wrench45:before { content: '\e985'; }
.draw-xls3:before { content: '\e986'; }
.draw-yen21:before { content: '\e987'; }
.draw-yin5:before { content: '\e988'; }
.draw-location31:before { content: '\e8c5'; }