@font-face {
	font-family: 'en';
	src:url('../4k-icons-pack02/icons/fonts/en.eot');
	src:url('../4k-icons-pack02/icons/fonts/en.eot?#iefix') format('embedded-opentype'),
		url('../4k-icons-pack02/icons/fonts/en.woff') format('woff'),
		url('../4k-icons-pack02/icons/fonts/en.ttf') format('truetype'),
		url('../4k-icons-pack02/icons/fonts/en.svg#en') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'en';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="en-"] {
*/
.en-phone, .en-mobile, .en-mouse, .en-directions, .en-location, .en-target, .en-share, .en-sharable, .en-cog, .en-tools, .en-trophy, .en-tag, .en-calendar, .en-bolt, .en-thunder, .en-droplet, .en-earth, .en-keyboard, .en-browser, .en-publish, .en-ticket, .en-rss, .en-signal, .en-thermometer, .en-feather, .en-paperclip, .en-drawer, .en-reply, .en-reply-all, .en-forward, .en-user, .en-users, .en-user-add, .en-vcard, .en-export, .en-location-2, .en-map, .en-compass, .en-star, .en-thumbs-up, .en-thumbs-down, .en-chat, .en-comment, .en-quote, .en-house, .en-popup, .en-search, .en-flashlight, .en-printer, .en-bell, .en-link, .en-flag, .en-palette, .en-leaf, .en-music, .en-music-2, .en-new, .en-graduation, .en-book, .en-newspaper, .en-bag, .en-airplane, .en-lifebuoy, .en-eye, .en-clock, .en-microphone, .en-hourglass, .en-gauge, .en-language, .en-network, .en-key, .en-progress-0, .en-sun, .en-sun-2, .en-adjust, .en-code, .en-pie, .en-bars, .en-graph, .en-lock, .en-lock-open, .en-question, .en-help, .en-warning, .en-cycle, .en-cw, .en-docs, .en-landscape, .en-pictures, .en-video, .en-music-3, .en-battery, .en-bucket, .en-magnet, .en-drive, .en-cup, .en-rocket, .en-brush, .en-suitcase, .en-cone, .en-screen, .en-infinity, .en-light-bulb, .en-credit-card, .en-database, .en-voicemail, .en-clipboard, .en-cart, .en-box, .en-resize-shrink, .en-volume, .en-sound, .en-arrow-left, .en-arrow-down, .en-arrow-up, .en-ellipsis, .en-dots, .en-dot, .en-vimeo, .en-twitter, .en-twitter-2, .en-rdio, .en-spotify, .en-spotify-2, .en-mute, .en-flow-cascade, .en-flow-branch, .en-arrow-right, .en-arrow-left-2, .en-arrow-down-2, .en-cc, .en-cc-by, .en-cc-nc, .en-facebook, .en-facebook-2, .en-facebook-3, .en-qq, .en-instagram, .en-dropbox, .en-flow-tree, .en-flow-line, .en-flow-parallel, .en-arrow-up-2, .en-arrow-right-2, .en-arrow-left-3, .en-cc-nc-eu, .en-cc-nc-jp, .en-cc-sa, .en-googleplus, .en-googleplus-2, .en-pinterest, .en-evernote, .en-flattr, .en-skype, .en-logout, .en-login, .en-checkmark, .en-cross, .en-minus, .en-plus, .en-ccw, .en-shuffle, .en-arrow, .en-arrow-2, .en-retweet, .en-loop, .en-folder, .en-archive, .en-trash, .en-upload, .en-download, .en-disk, .en-cross-2, .en-minus-2, .en-plus-2, .en-history, .en-back, .en-switch, .en-install, .en-cloud, .en-upload-2, .en-cross-3, .en-minus-3, .en-plus-3, .en-erase, .en-blocked, .en-info, .en-info-2, .en-list, .en-add-to-list, .en-layout, .en-list-2, .en-text, .en-text-2, .en-document, .en-first, .en-last, .en-resize-enlarge, .en-arrow-down-3, .en-arrow-up-3, .en-arrow-right-3, .en-arrow-right-4, .en-menu, .en-flickr, .en-flickr-2, .en-vimeo-2, .en-lastfm, .en-lastfm-2, .en-rdio-2, .en-vk, .en-smashing, .en-record, .en-stop, .en-next, .en-previous, .en-arrow-down-4, .en-arrow-up-4, .en-arrow-right-5, .en-arrow-left-4, .en-pinterest-2, .en-tumblr, .en-tumblr-2, .en-linkedin, .en-linkedin-2, .en-dribbble, .en-dribbble-2, .en-stumbleupon, .en-stumbleupon-2, .en-skype-2, .en-renren, .en-sina-weibo, .en-paypal, .en-picasa, .en-soundcloud, .en-mixi, .en-behance, .en-circles, .en-cc-nd, .en-cc-pd, .en-cc-zero, .en-cc-share, .en-cc-share-2, .en-daniel-bruce, .en-daniel-bruce-2, .en-github, .en-github-2, .en-bookmark, .en-bookmarks, .en-book-2, .en-play, .en-pause, .en-arrow-left-5, .en-arrow-down-5, .en-arrow-up--upload, .en-arrow-right-6, .en-arrow-left-6, .en-arrow-down-6, .en-arrow-up-5, .en-arrow-right-7, .en-arrow-left-7, .en-arrow-down-7, .en-arrow-up-6, .en-arrow-right-8, .en-arrow-left-8, .en-arrow-down-8, .en-arrow-up-7, .en-mail, .en-paperplane, .en-pencil, .en-heart, .en-heart-2, .en-star-2, .en-camera, .en-megaphone, .en-moon, .en-cd, .en-briefcase, .en-air, .en-progress-3, .en-progress-2, .en-brogress-1, .en-statistics, .en-droplets {
	font-family: 'en';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.en-phone:before {
	content: "\e000";
}
.en-mobile:before {
	content: "\e001";
}
.en-mouse:before {
	content: "\e002";
}
.en-directions:before {
	content: "\e003";
}
.en-location:before {
	content: "\e015";
}
.en-target:before {
	content: "\e016";
}
.en-share:before {
	content: "\e017";
}
.en-sharable:before {
	content: "\e018";
}
.en-cog:before {
	content: "\e02a";
}
.en-tools:before {
	content: "\e02b";
}
.en-trophy:before {
	content: "\e02c";
}
.en-tag:before {
	content: "\e02d";
}
.en-calendar:before {
	content: "\e03f";
}
.en-bolt:before {
	content: "\e040";
}
.en-thunder:before {
	content: "\e041";
}
.en-droplet:before {
	content: "\e042";
}
.en-earth:before {
	content: "\e054";
}
.en-keyboard:before {
	content: "\e055";
}
.en-browser:before {
	content: "\e056";
}
.en-publish:before {
	content: "\e057";
}
.en-ticket:before {
	content: "\e069";
}
.en-rss:before {
	content: "\e06a";
}
.en-signal:before {
	content: "\e06b";
}
.en-thermometer:before {
	content: "\e06c";
}
.en-feather:before {
	content: "\e007";
}
.en-paperclip:before {
	content: "\e008";
}
.en-drawer:before {
	content: "\e009";
}
.en-reply:before {
	content: "\e00a";
}
.en-reply-all:before {
	content: "\e00b";
}
.en-forward:before {
	content: "\e00c";
}
.en-user:before {
	content: "\e00d";
}
.en-users:before {
	content: "\e00e";
}
.en-user-add:before {
	content: "\e00f";
}
.en-vcard:before {
	content: "\e010";
}
.en-export:before {
	content: "\e011";
}
.en-location-2:before {
	content: "\e012";
}
.en-map:before {
	content: "\e013";
}
.en-compass:before {
	content: "\e014";
}
.en-star:before {
	content: "\e01c";
}
.en-thumbs-up:before {
	content: "\e01d";
}
.en-thumbs-down:before {
	content: "\e01e";
}
.en-chat:before {
	content: "\e01f";
}
.en-comment:before {
	content: "\e020";
}
.en-quote:before {
	content: "\e021";
}
.en-house:before {
	content: "\e022";
}
.en-popup:before {
	content: "\e023";
}
.en-search:before {
	content: "\e024";
}
.en-flashlight:before {
	content: "\e025";
}
.en-printer:before {
	content: "\e026";
}
.en-bell:before {
	content: "\e027";
}
.en-link:before {
	content: "\e028";
}
.en-flag:before {
	content: "\e029";
}
.en-palette:before {
	content: "\e031";
}
.en-leaf:before {
	content: "\e032";
}
.en-music:before {
	content: "\e033";
}
.en-music-2:before {
	content: "\e034";
}
.en-new:before {
	content: "\e035";
}
.en-graduation:before {
	content: "\e036";
}
.en-book:before {
	content: "\e037";
}
.en-newspaper:before {
	content: "\e038";
}
.en-bag:before {
	content: "\e039";
}
.en-airplane:before {
	content: "\e03a";
}
.en-lifebuoy:before {
	content: "\e03b";
}
.en-eye:before {
	content: "\e03c";
}
.en-clock:before {
	content: "\e03d";
}
.en-microphone:before {
	content: "\e03e";
}
.en-hourglass:before {
	content: "\e046";
}
.en-gauge:before {
	content: "\e047";
}
.en-language:before {
	content: "\e048";
}
.en-network:before {
	content: "\e049";
}
.en-key:before {
	content: "\e04a";
}
.en-progress-0:before {
	content: "\e05b";
}
.en-sun:before {
	content: "\e05c";
}
.en-sun-2:before {
	content: "\e05d";
}
.en-adjust:before {
	content: "\e05e";
}
.en-code:before {
	content: "\e05f";
}
.en-pie:before {
	content: "\e070";
}
.en-bars:before {
	content: "\e071";
}
.en-graph:before {
	content: "\e072";
}
.en-lock:before {
	content: "\e073";
}
.en-lock-open:before {
	content: "\e074";
}
.en-question:before {
	content: "\e085";
}
.en-help:before {
	content: "\e086";
}
.en-warning:before {
	content: "\e087";
}
.en-cycle:before {
	content: "\e088";
}
.en-cw:before {
	content: "\e089";
}
.en-docs:before {
	content: "\e09a";
}
.en-landscape:before {
	content: "\e09b";
}
.en-pictures:before {
	content: "\e09c";
}
.en-video:before {
	content: "\e09d";
}
.en-music-3:before {
	content: "\e09e";
}
.en-battery:before {
	content: "\e04b";
}
.en-bucket:before {
	content: "\e04c";
}
.en-magnet:before {
	content: "\e04d";
}
.en-drive:before {
	content: "\e04e";
}
.en-cup:before {
	content: "\e04f";
}
.en-rocket:before {
	content: "\e050";
}
.en-brush:before {
	content: "\e051";
}
.en-suitcase:before {
	content: "\e052";
}
.en-cone:before {
	content: "\e053";
}
.en-screen:before {
	content: "\e060";
}
.en-infinity:before {
	content: "\e061";
}
.en-light-bulb:before {
	content: "\e062";
}
.en-credit-card:before {
	content: "\e063";
}
.en-database:before {
	content: "\e064";
}
.en-voicemail:before {
	content: "\e065";
}
.en-clipboard:before {
	content: "\e066";
}
.en-cart:before {
	content: "\e067";
}
.en-box:before {
	content: "\e068";
}
.en-resize-shrink:before {
	content: "\e0b4";
}
.en-volume:before {
	content: "\e0b5";
}
.en-sound:before {
	content: "\e0b6";
}
.en-arrow-left:before {
	content: "\e0c9";
}
.en-arrow-down:before {
	content: "\e0ca";
}
.en-arrow-up:before {
	content: "\e0cb";
}
.en-ellipsis:before {
	content: "\e0de";
}
.en-dots:before {
	content: "\e0df";
}
.en-dot:before {
	content: "\e0e0";
}
.en-vimeo:before {
	content: "\e0f3";
}
.en-twitter:before {
	content: "\e0f4";
}
.en-twitter-2:before {
	content: "\e0f5";
}
.en-rdio:before {
	content: "\e108";
}
.en-spotify:before {
	content: "\e109";
}
.en-spotify-2:before {
	content: "\e10a";
}
.en-mute:before {
	content: "\e0b7";
}
.en-flow-cascade:before {
	content: "\e0b8";
}
.en-flow-branch:before {
	content: "\e0b9";
}
.en-arrow-right:before {
	content: "\e0cc";
}
.en-arrow-left-2:before {
	content: "\e0cd";
}
.en-arrow-down-2:before {
	content: "\e0ce";
}
.en-cc:before {
	content: "\e0e1";
}
.en-cc-by:before {
	content: "\e0e2";
}
.en-cc-nc:before {
	content: "\e0e3";
}
.en-facebook:before {
	content: "\e0f6";
}
.en-facebook-2:before {
	content: "\e0f7";
}
.en-facebook-3:before {
	content: "\e0f8";
}
.en-qq:before {
	content: "\e10b";
}
.en-instagram:before {
	content: "\e10c";
}
.en-dropbox:before {
	content: "\e10d";
}
.en-flow-tree:before {
	content: "\e0ba";
}
.en-flow-line:before {
	content: "\e0bb";
}
.en-flow-parallel:before {
	content: "\e0bc";
}
.en-arrow-up-2:before {
	content: "\e0cf";
}
.en-arrow-right-2:before {
	content: "\e0d0";
}
.en-arrow-left-3:before {
	content: "\e0d1";
}
.en-cc-nc-eu:before {
	content: "\e0e4";
}
.en-cc-nc-jp:before {
	content: "\e0e5";
}
.en-cc-sa:before {
	content: "\e0e6";
}
.en-googleplus:before {
	content: "\e0f9";
}
.en-googleplus-2:before {
	content: "\e0fa";
}
.en-pinterest:before {
	content: "\e0fb";
}
.en-evernote:before {
	content: "\e10e";
}
.en-flattr:before {
	content: "\e10f";
}
.en-skype:before {
	content: "\e110";
}
.en-logout:before {
	content: "\e075";
}
.en-login:before {
	content: "\e076";
}
.en-checkmark:before {
	content: "\e077";
}
.en-cross:before {
	content: "\e078";
}
.en-minus:before {
	content: "\e079";
}
.en-plus:before {
	content: "\e07a";
}
.en-ccw:before {
	content: "\e08a";
}
.en-shuffle:before {
	content: "\e08b";
}
.en-arrow:before {
	content: "\e08c";
}
.en-arrow-2:before {
	content: "\e08d";
}
.en-retweet:before {
	content: "\e08e";
}
.en-loop:before {
	content: "\e08f";
}
.en-folder:before {
	content: "\e09f";
}
.en-archive:before {
	content: "\e0a0";
}
.en-trash:before {
	content: "\e0a1";
}
.en-upload:before {
	content: "\e0a2";
}
.en-download:before {
	content: "\e0a3";
}
.en-disk:before {
	content: "\e0a4";
}
.en-cross-2:before {
	content: "\e07b";
}
.en-minus-2:before {
	content: "\e07c";
}
.en-plus-2:before {
	content: "\e07d";
}
.en-history:before {
	content: "\e090";
}
.en-back:before {
	content: "\e091";
}
.en-switch:before {
	content: "\e092";
}
.en-install:before {
	content: "\e0a5";
}
.en-cloud:before {
	content: "\e0a6";
}
.en-upload-2:before {
	content: "\e0a7";
}
.en-cross-3:before {
	content: "\e07e";
}
.en-minus-3:before {
	content: "\e07f";
}
.en-plus-3:before {
	content: "\e080";
}
.en-erase:before {
	content: "\e081";
}
.en-blocked:before {
	content: "\e082";
}
.en-info:before {
	content: "\e083";
}
.en-info-2:before {
	content: "\e084";
}
.en-list:before {
	content: "\e093";
}
.en-add-to-list:before {
	content: "\e094";
}
.en-layout:before {
	content: "\e095";
}
.en-list-2:before {
	content: "\e096";
}
.en-text:before {
	content: "\e097";
}
.en-text-2:before {
	content: "\e098";
}
.en-document:before {
	content: "\e099";
}
.en-first:before {
	content: "\e0b1";
}
.en-last:before {
	content: "\e0b2";
}
.en-resize-enlarge:before {
	content: "\e0b3";
}
.en-arrow-down-3:before {
	content: "\e0c6";
}
.en-arrow-up-3:before {
	content: "\e0c7";
}
.en-arrow-right-3:before {
	content: "\e0c8";
}
.en-arrow-right-4:before {
	content: "\e0dc";
}
.en-menu:before {
	content: "\e0dd";
}
.en-flickr:before {
	content: "\e0f0";
}
.en-flickr-2:before {
	content: "\e0f1";
}
.en-vimeo-2:before {
	content: "\e0f2";
}
.en-lastfm:before {
	content: "\e105";
}
.en-lastfm-2:before {
	content: "\e106";
}
.en-rdio-2:before {
	content: "\e107";
}
.en-vk:before {
	content: "\e11a";
}
.en-smashing:before {
	content: "\e11b";
}
.en-record:before {
	content: "\e0ad";
}
.en-stop:before {
	content: "\e0ae";
}
.en-next:before {
	content: "\e0af";
}
.en-previous:before {
	content: "\e0b0";
}
.en-arrow-down-4:before {
	content: "\e0c2";
}
.en-arrow-up-4:before {
	content: "\e0c3";
}
.en-arrow-right-5:before {
	content: "\e0c4";
}
.en-arrow-left-4:before {
	content: "\e0c5";
}
.en-pinterest-2:before {
	content: "\e0fc";
}
.en-tumblr:before {
	content: "\e0fd";
}
.en-tumblr-2:before {
	content: "\e0fe";
}
.en-linkedin:before {
	content: "\e0ff";
}
.en-linkedin-2:before {
	content: "\e100";
}
.en-dribbble:before {
	content: "\e101";
}
.en-dribbble-2:before {
	content: "\e102";
}
.en-stumbleupon:before {
	content: "\e103";
}
.en-stumbleupon-2:before {
	content: "\e104";
}
.en-skype-2:before {
	content: "\e111";
}
.en-renren:before {
	content: "\e112";
}
.en-sina-weibo:before {
	content: "\e113";
}
.en-paypal:before {
	content: "\e114";
}
.en-picasa:before {
	content: "\e115";
}
.en-soundcloud:before {
	content: "\e116";
}
.en-mixi:before {
	content: "\e117";
}
.en-behance:before {
	content: "\e118";
}
.en-circles:before {
	content: "\e119";
}
.en-cc-nd:before {
	content: "\e0e7";
}
.en-cc-pd:before {
	content: "\e0e8";
}
.en-cc-zero:before {
	content: "\e0e9";
}
.en-cc-share:before {
	content: "\e0ea";
}
.en-cc-share-2:before {
	content: "\e0eb";
}
.en-daniel-bruce:before {
	content: "\e0ec";
}
.en-daniel-bruce-2:before {
	content: "\e0ed";
}
.en-github:before {
	content: "\e0ee";
}
.en-github-2:before {
	content: "\e0ef";
}
.en-bookmark:before {
	content: "\e0a8";
}
.en-bookmarks:before {
	content: "\e0a9";
}
.en-book-2:before {
	content: "\e0aa";
}
.en-play:before {
	content: "\e0ab";
}
.en-pause:before {
	content: "\e0ac";
}
.en-arrow-left-5:before {
	content: "\e0bd";
}
.en-arrow-down-5:before {
	content: "\e0be";
}
.en-arrow-up--upload:before {
	content: "\e0bf";
}
.en-arrow-right-6:before {
	content: "\e0c0";
}
.en-arrow-left-6:before {
	content: "\e0c1";
}
.en-arrow-down-6:before {
	content: "\e0d2";
}
.en-arrow-up-5:before {
	content: "\e0d3";
}
.en-arrow-right-7:before {
	content: "\e0d4";
}
.en-arrow-left-7:before {
	content: "\e0d5";
}
.en-arrow-down-7:before {
	content: "\e0d6";
}
.en-arrow-up-6:before {
	content: "\e0d7";
}
.en-arrow-right-8:before {
	content: "\e0d8";
}
.en-arrow-left-8:before {
	content: "\e0d9";
}
.en-arrow-down-8:before {
	content: "\e0da";
}
.en-arrow-up-7:before {
	content: "\e0db";
}
.en-mail:before {
	content: "\e004";
}
.en-paperplane:before {
	content: "\e005";
}
.en-pencil:before {
	content: "\e006";
}
.en-heart:before {
	content: "\e019";
}
.en-heart-2:before {
	content: "\e01a";
}
.en-star-2:before {
	content: "\e01b";
}
.en-camera:before {
	content: "\e02e";
}
.en-megaphone:before {
	content: "\e02f";
}
.en-moon:before {
	content: "\e030";
}
.en-cd:before {
	content: "\e043";
}
.en-briefcase:before {
	content: "\e044";
}
.en-air:before {
	content: "\e045";
}
.en-progress-3:before {
	content: "\e058";
}
.en-progress-2:before {
	content: "\e059";
}
.en-brogress-1:before {
	content: "\e05a";
}
.en-statistics:before {
	content: "\e06f";
}
.en-droplets:before {
	content: "\e06d";
}
